@model UserSignInModel
@{
    Layout = "_Layout";
}

<form asp-action="SignIn" method="POST" class="p-4 w-75 mx-auto shadow">
    <input type="hidden" asp-for="@Model.ReturnUrl"/>
    <div class="mb-3">
        <label>Kullanıcı Adı: </label>
        <span class="text-danger" asp-validation-for="@Model.Username"></span>
        <input asp-for="@Model.Username" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Şifre: </label>
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
        <input type="password" asp-for="@Model.Password" class="form-control"/>
    </div>
        <div class="form-check">
      <input class="form-check-input" type="checkbox" asp-for="@Model.RememberMe">
      <label class="form-check-label" for="RememberMe">
        Beni Hatırla
      </label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div> @*Yalnızca modeldeki hatalar burada gözükür.*@
</form>
